@mixin gradient($top, $bottom) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #{$top}), color-stop(1.0, #{$bottom}));
}

@mixin sharpshadow($alpha: .5) {
  text-shadow: 0 -1px -1px rgba(0,0,0, $alpha);
}

* 								                                    {margin: 0; padding: 0;}
body 							                                    {background: #000; font-family: "Helvetica Neue", "Helvetica";}
#container				                                    {width: 320px; overflow: hidden; float: left; height: 460px;}
#track						                                    {width: 6000px; height: 430px; padding-top: 5px; padding-bottom: 5px;}
#dots							                                    {height: 20px; width: 320px; font-size: 20px; color: #888; text-align: center; margin-top: -5px;}
#dots a                                               {text-decoration: none; color: #888;}
#dots .selected                                       {color: #fff;}       
#track .widget					                              {position: relative; width: 290px; margin: 0 10px 0 10px; background: #333; height: 420px; -webkit-border-radius: 5px; padding: 5px; color: #fff; float: left;}
#track .widget ul                                     {padding-left: 20px;}
#track .widget .header                                {@include gradient(#777, #555); width: 290px; margin-left: -5px; margin-top: -5px; -webkit-border-radius: 5px 5px 0 0; padding: 5px; border-bottom: 1px solid #111; position: relative; overflow: hidden;}
#track .widget .header h2                             {font-size: 22px; text-align: center; @include sharpshadow;}
#track .widget .header h2 .welcome                    {color: #5d5; margin-left: -3px}
/*#track .widget .header h2.session                     {text-align: left;}*/
#track .widget .header .button                        {position: absolute; top: 6px; @include gradient(#666, #444); font-size: 14px; border-color: rgba(0,0,0,0.6);}
#track .widget .header .button.right                  {right: 6px;}
#track .widget .header .button.right.add              {font-weight: bold;}
#track .widget .header .button.left                   {left: 6px;}
#track .widget .section                               {width: 290px; margin-left: -5px; padding: 5px; border-bottom: 1px solid #111; float: left; @include sharpshadow;}
#track .widget .section.common h3                     {float: left; font-size: 16px;}
#track .widget .section.common p                      {float: right; font-size: 14px; margin-top: 2px;}
#track .widget .footer                                {position: absolute; bottom: 0; width: 290px; margin-left: -5px; padding: 5px; @include gradient(#666, #555); -webkit-border-radius: 0 0 5px 5px; border-top: 1px solid #111;}
#track .widget .footer.save .button.save              {font-size: 14px; @include gradient(#767676, #666);}
#track .widget .footer.save .button.cancel            {font-size: 11px; @include gradient(#666, #555); float: left; margin-top: 3px;}
#track .widget .buttonset                             {-webkit-transition: opacity 0.4s ease; margin-top: 3px; font-size: 12px;}
#track .widget .buttonset.hidden                      {display: block; opacity: 0;}
#track .widget .button.edit                           {@include gradient(#999, #777); border-right: 0; -webkit-border-radius: 5px 0 0 5px; border-color: #600;}
#track .widget .button.delete                         {@include gradient(#944, #733); border-color: #600; -webkit-border-radius: 0 5px 5px 0; padding: 3px 5px; padding-bottom: 4px;}
#track .widget .button.main_submit                    {width: 200px; @include gradient(#666, #444); font-size: 18px; text-transform: capitalize; font-weight: bold; margin: 5px 45px; clear: both;}
#track .widget form .grouping                         {width: 290px; float: left; padding: 5px 0;}
#track .widget form .grouping label                   {float: left; font-size: 16px;}
#track .widget form .grouping input                   {float: right; font-size: 16px; width: 200px; -webkit-border-radius: 5px;}
#track .widget form .grouping.checkbox input          {width: auto; float: left;}
#track .widget form .grouping.checkbox label          {float: left; font-size: 14px; margin-left: 5px;}
#track .widget .session_extra_links                   {width: 200px; margin: 0 45px; float: right; font-size: 12px;}
#track .widget .session_extra_links a                 {text-align: center; color: #aaa; text-decoration: none; display: block; margin-top: 10px;}
#my_widgets .section h3                               {padding: 5px 0;}
#available_widgets                                    {float: left; margin-left: -5px; width: 300px;}
#available_widgets .available_widget                  {width: 290px; padding: 5px; background: #222; float: left; @include gradient(#333, #282828); border-bottom: 1px solid #111;}
#available_widgets .available_widget h2               {display: block; float: left; font-size: 26px; font-weight: normal; margin-top: 8px; margin-left: 4px;}
#available_widgets .available_widget .add_widget      {display: block; float: right; font-size: 16px; background: #4c4; padding: 5px 8px; color: #fff; text-decoration: none; -webkit-border-radius: 5px; margin: 8px 4px 8px 0; border: 1px solid rgba(255,255,255, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #4c4), color-stop(1.0, #2a2));}

/* weather widget */

#track .widget                                        {background: -webkit-gradient(radial, center center, 300, center center, 0, from(#222), to(#3a3a3a), color-stop(.25,#353535));}
#track .widget .high_low                              {font-size: 60px;}
#track .widget .high_low .high,
#track .widget .high_low .low                         {width: 50%; float: left; text-align: center;}
#track .widget .high_low .high                        {border-right: 1px solid #444;}
#track .widget .high_low .low                         {margin-left: -1px;}
#track .widget .conditions h3                         {float: none !important; margin-top: 4px;}
#track .widget .conditions img                        {background: #fff; display: block; float: left; margin-right: 7px; margin-left: 60px; -webkit-border-radius: 5px; height: 50px; width: 50px;}
#track .widget .conditions p                          {float: none !important;}

/* condition icon is 50x50, we're using set "c" */

/* general */

.button                                               {float: right; display: block; padding: 3px 5px; color: #fff; text-decoration: none; -webkit-border-radius: 5px; border: 1px solid rgba(255,255,255, 0.5); @include sharpshadow;}
.hidden                                               {display: none;}

/* highly specialized */

#track .widget .header #settings_edit.pressed         {@include gradient(#66a, #44a);}
#sign_in                                              {}
#devise_edit                                          {height: 335px !important;}