<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    if (window.navigator.standalone) {
      window.location = "<%= new_user_session_path %>"
    }
  </script>
	<style type="text/css">
		#track { margin-top: 5px; }
		#track .widget { height: 325px; }
		#install_helper { color: #000; background: #EDEDED -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #CBCBCB)); padding: 3px; border:3px solid #666666; bottom: 5px; width: 280px; position:absolute; text-align:center; -webkit-border-radius:10px; -webkit-box-shadow:0 0 5px #888888; -webkit-background-clip: padding-box;}
		#install_helper .arrow_border {border-color: #666666 transparent transparent transparent; border-style: solid; border-width: 10px; height:0; width:0; position:absolute; bottom:-22px; left:135px;}
		#install_helper .arrow {border-color: #CBCBCB transparent transparent transparent; border-style: solid; border-width: 10px; height:0; width:0; position:absolute; bottom:-19px; left:135px;}
	</style>
<% end -%>

<div class="header">
  <h2>Launchpad<span class="welcome">Welcome</span></h2>
</div>

<p style="width: 270px; margin: 20px auto; text-align: center;">You need to add Launchpad to your home screen to use it. Installing Launchpad to your home screen allows Launchpad to provide you with a more immersive, full-screen experience.</p>

<div id="install_helper">
	Touch here to install	
	<div class="arrow_border"></div>
	<div class="arrow"></div>
</div>