<% content_for :head do -%>
  <style type="text/css" media="screen">
    .stop_overflow          {height: /*332px*/ 327px; width: 290px; margin-left: -5px; padding: 0 5px; float: left; overflow-y: scroll; -webkit-border-radius: 0 0 5px 5px;}
    ::-webkit-scrollbar     {display: none;}
    .stop_times .section .time {float: left;}
    .stop_times .section .until {float: right;}
    .stop_times             {float: left;}
    .stop_times .section.old {color: #999;}
  </style>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      // scrolling
      $('.stop_overflow').each(function(){
        var me = $(this);
        var list_location = 0;
        var swipe_start;
        var passer;
        $(me).bind({
          touchstart: function(event){
            swipe_start = event.originalEvent.targetTouches[0].clientY;
            window.doing_vert_scroll = true;
          },
          touchmove: function(event){
            event.preventDefault();
            var swipe_current = event.originalEvent.targetTouches[0].clientY;
            var swipe_change = swipe_current - swipe_start;
            var distance = -1*swipe_change + list_location;
            me.scrollTop(distance);
            passer = distance;
          },
          touchend: function(event){
            if (passer > 0) {
              list_location = passer;
            } else {
              list_location = 0;
            }
            window.doing_vert_scroll = false;
          }
        });
      });
      
      // handle timing here
      var stops = [];
      $('.stop_times .section').each(function(){
        var element = $(this);
        var time_string = element.find('.time').text();
        var time_array = time_string.split(":");
        var time = new Date();
        time.setHours( time_array[0] );
        time.setMinutes( time_array[1] );
        time.setSeconds( time_array[2] );
        stops.push({
          element: element,
          stop_time: time
        });
      });
      
      var timeout_for_parse = 10e3;
      parse_stops = function() {
        now = new Date();
        if (window.doing_vert_scroll) {return false}
        $.each(stops, function(){
          if (true) {
            var time_until = parseInt( ((this.stop_time - now)/1000)/60 );
            var time_until_hours = 0;
            
            while (time_until > 60) {
              time_until_hours++;
              time_until -= 60;
            }
            var text = "";
            var minute = time_until == 1 ? "minute" : "minutes";
            if (time_until < 0) {
              minute += " ago";
              time_until *= -1;
            }
            var hour = time_until_hours == 1 ? "hour" : "hours";
            if (time_until_hours == 0) {
              text = time_until + " " + minute;
            } else {
              text = time_until_hours + hour + ", " + time_until + " " + minute;
            }
            this.element.find('.until').text(text);
          }
          if (now > this.stop_time) {
            if (now - this.stop_time < 60e3 * 30) {
              this.element.addClass('old');
            } else {
              this.element.remove();
            }
          }
        });
        setTimeout("parse_stops()", timeout_for_parse);
      }
      parse_stops();
    });
  </script>
<% end -%>

<div class="widget bus">
  <div class="header">
    <h2><%= widget.class.title %></h2>
  </div>
  
  <div class="section common">
    <h3>Stop:</h3>
    <p><%= widget.stop_name %></p>
  </div>
  <div class="section common" style="-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3)">
    <h3>Route:</h3>
    <p><%= widget.line %></p>
  </div>

  <div class="stop_overflow">
    <div class="stop_times">
      <% widget.stop_times.each do |stop| %>
        <div class="section">
          <div class="time"><%= stop %></div>
          <div class="until"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>