Install a widget:<br />
<div id="available_widgets">
  <% @available_widget_types.each do |aw| %>
    <div class="available_widget">
      <h2><%= aw.title %></h2>
      <%= link_to "Add", "/widgets", :class => "add_widget" %>
    </div>
  <% end %>
</div>